html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(../img/footer.png);
  font-size: 13.33px;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #ff3f76;
}

#header-wrapper {
  background: black;
}

#header {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 946px;
  margin: 0 auto;
}

#content-wrapper {
  background: url(../img/background.png);
  padding-top: 5em;
  padding-bottom: 5em;
}

#content {
  width: 946px;
  margin: 0 auto;
}

#footer-wrapper {
  border-top: 0.25em solid #df316e;
}

#footer {
  width: 946px;
  margin: 0 auto;
}

#header h1 {
  display: inline;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  color: #ff3f76;
}

#header img.logo {
  width: 0.8em;
  height: 0.8em;
  padding-right: 8px;
}

#header .subtitle {
  display: inline;
  color: white;
}

#header .subtitle:before {
  /* Unicode 'PROPORTION' followed by a non-breaking space. */
  content: '\002237\0000a0';
}

#header ul.navbar {
  float: right;
  margin: 0;
  padding-top: 11px;
}

#header ul.navbar li {
  display: inline;
}

#header ul.navbar li a {
  font-weight: bold;
  text-decoration: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
}

#header ul.navbar li a:hover {
  color: white;
}

#footer ul.social {
  padding: 0;
}

#footer ul.social li {
  float: left;
  list-style-type: none;
  min-width: 236.5px;
  vertical-align: bottom;
  margin-top: -22px;
  padding-bottom: 44px;
}

#footer ul.social li img {
  position: relative;
  top: 22px;
}

#footer ul.social li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

#footer h2 {
  color: white;
  font-weight: normal;
}

#footer .chapters {
  padding: 0;
  column-count: 6;
  -moz-column-count: 6;
  -webkit-column-count: 6;
}

#footer .chapters li {
  list-style-type: none;
  line-height: 1.5em;
}

#footer .chapters li a {
  color: inherit;
  text-decoration: none;
}

#footer .chapters li a:hover {
  text-decoration: underline;
}
